<div class="w3-container" style="padding:128px 16px" id="about">
    <h3 class="w3-center">About Us</h3>
    <p class="w3-center w3-large">We are the.... (US Branch of ...) </p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Passion</p>
        <p>We love teaching karate, but none of our instructors do it for a living. 
            Unlike commercialized schools that are focused on profit, 
            we prefer to invest the time and ensure you learn to apply effective techniques.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">Values</p>
        <p>Friendship and cooperation are at the core of our values. 
          Okinawan karate was born out of a necessity to defend against life-threatening danger. 
          A mature attitude is required to safely practice techniques which are illegal in conventional sport karate styles.</p>
      </div>
      
      <div class="w3-quarter">
        <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Experience</p>
        <p>As students of Sensei Iha, our instructors each have at least 30 years experience practicing and teaching Okinawan Karate. 
          As a newcomer, you will receive one-on-one instruction as a part of every class.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Authentic</p>
        <p>We are one of the few schools in the country to maintain unbroken lineage. 
          You will learn authentic techniques for true self defense, not for winning points in a tournament.</p>
      </div>
    </div>
  </div>